<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ name }}</title>
</head>
<body>
    <div class="menu-link">
        <a href="/form">Click to contact me</a>
    </div>
    <div style="text-align: right;">
        <img src="static\flower.jpg" alt="myProfileImage">
    </div>
      <div>
          <h1>{{ name }}</h1>
          <p><small>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                  <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" fill="currentColor" fill-rule="evenodd"></path>
              </svg>
              Texas, US
          </small></p>
          <div class="content">
            {% for content in aboutMe %}
              <p>{{content}}<p>
            {% endfor %}
          </div>

      </div>
</body>
</html>